
<h1 
    style="@(string.IsNullOrEmpty(Color) ? "" : $"color: {Color};")
    @(Size == null ? "" : $"font-size: {Size}px;")
    @(Bold ? "" : $"font-weight: bold;")">
    @Title
</h1>


@code{
    [Parameter] 
    [EditorRequired]
    public string Title { get; set; }
    [Parameter]
    public string? Color { get; set; }
    [Parameter]
    public int? Size { get; set; }
    [Parameter]
    public bool Bold { get; set; }
}