@using Platzi_Blazor.Layout.Common.Title
@page "/product"
@inject IProductServices _productServiceee;

<PageTitle>Products</PageTitle>

<TitleComponent Title="Productos" Size=20 Color="rgba(0,255,0,0.7)"></TitleComponent>

<button class="btn btn-dark text-light px-3 mb-2">
    <NavLink class="nav-link" href="addproduct">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Crear Producto
    </NavLink>
</button>

@if (products.Any())
{
    <div class="products-container">
        @foreach(var product in products)
        {
            <div class="card">
                <img class="card-img-top" src="@product.Images[0]" alt="Product" loading="lazy" width="270">
                <div class="card-body">
                    <h4><b>@product.Title</b></h4>
                    <p>@product.price?.ToString("C")</p>
                </div>
            </div>    
        }
    </div>
}
else
{
    <div class="alert alert-danger">
        no hay productos para mostrar
    </div>
}

@code{
    private List<Product>? products;


    protected override async Task OnInitializedAsync()
    {
        products = await GetProducts(); 
    }

    private async Task<List<Product>?> GetProducts()
    {
        return await _productServiceee.Get();
    }
}