@using Platzi_Blazor.Layout.Common.Title
@page "/"

<TitleComponent Title="Home" Size=20 Color="rgba(255,0,0,0.7)"></TitleComponent>

<h1>Hello, mi genteeeeee!</h1>

Esta es mi segunda aplicación de blazor